.dep_form{
    height:100px;
    width: 600px;
    margin: 20px 20px 20px 50px;
    
}
.dep_form_2 {
    height: 50px;
    width: 200px;
    margin: 20px 300px 30px 100px;
   
    

}

.footer {
    width: 100%;
    height: 5px;
    color: black;

}

.user_details {
 
  margin-bottom: 50px;
  border-style:;
  
}
